@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
 
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
 
* {
  box-sizing: border-box;
}
 
input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 55px;
  outline: none !important;
  box-shadow: none !important;
  font-size: 20px;
  font-weight: 500;
}